doc/fixml/v4.1/IOI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Revision: 1.2.0
  Date:  25 Aug 2000
  FIX Protocol Base.dtd 
  Copyright 2000 FIX Protocol Limited.  All rights reserved.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="IndicationContent">
    <xs:complexContent>
      <xs:extension base="IOI_ID">
        <xs:sequence>
          <xs:element ref="IOI_TransType"/>
          <xs:element ref="Instrument"/>
          <xs:element ref="IOI_Side"/>
          <xs:element ref="IOI_Shares"/>
          <xs:element minOccurs="0" ref="Price"/>
          <xs:element minOccurs="0" ref="Currency"/>
          <xs:element minOccurs="0" ref="ValidUntilTime"/>
          <xs:element minOccurs="0" ref="IOI_QltyInd"/>
          <xs:element minOccurs="0" ref="IOI_OthSvc"/>
          <xs:element minOccurs="0" ref="IOI_NaturalFlag"/>
          <xs:element minOccurs="0" ref="IOI_QualifierList"/>
          <xs:element minOccurs="0" ref="Text"/>
          <xs:element minOccurs="0" ref="TransactTime"/>
          <xs:element minOccurs="0" ref="URLLink"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Indication">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="IndicationContent">
          <xs:attribute name="FIXTag" default="35">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="35"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="DataType" default="char">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="char"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Value" default="6">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="6"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_TransType">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="IOI_New"/>
        <xs:element ref="IOI_Cancel"/>
        <xs:element ref="IOI_Replace"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_New">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="28">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="28"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" default="N">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_Cancel">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="IOI_RefID">
          <xs:attribute name="FIXTag" default="28">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="28"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="DataType" default="char">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="char"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Value" default="C">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="C"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_Replace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="IOI_RefID">
          <xs:attribute name="FIXTag" default="28">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="28"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="DataType" default="char">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="char"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="Value" default="R">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="R"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IOI_RefID">
    <xs:sequence>
      <xs:element ref="IOI_RefID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOI_RefID">
    <xs:complexType mixed="true">
      <xs:attribute name="FIXTag" default="26">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="26"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_Shares">
    <xs:complexType mixed="true">
      <xs:attribute name="FIXTag" default="27">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="27"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_QualifierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="NoIOI_Qualifiers"/>
        <xs:element maxOccurs="unbounded" ref="IOI_Qualifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoIOI_Qualifiers">
    <xs:complexType mixed="true">
      <xs:attribute name="FIXTag" default="199">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="199"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="int">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="int"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_Qualifier">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="104">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="104"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="X"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="P"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="Q"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="W"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="T"/>
            <xs:enumeration value="Y"/>
            <xs:enumeration value="Z"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SDValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="CrossOpp"/>
            <xs:enumeration value="AtOpen"/>
            <xs:enumeration value="MoreBehind"/>
            <xs:enumeration value="TakePosition"/>
            <xs:enumeration value="Versus"/>
            <xs:enumeration value="AtMarket"/>
            <xs:enumeration value="AtClose"/>
            <xs:enumeration value="PortShow"/>
            <xs:enumeration value="InTouch"/>
            <xs:enumeration value="IndWrkAway"/>
            <xs:enumeration value="AON"/>
            <xs:enumeration value="Limit"/>
            <xs:enumeration value="ThroughDay"/>
            <xs:enumeration value="AtMid"/>
            <xs:enumeration value="PreOpen"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- Note: IOI_ is limited to either buy or sell, so the general Side element is not appropriate -->
  <xs:element name="IOI_Side">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="54">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="54"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SDValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Buy"/>
            <xs:enumeration value="Sell"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_QltyInd">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="25">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="L"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="H"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SDValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Low"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="High"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_OthSvc">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="24">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="24"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SDValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Autex"/>
            <xs:enumeration value="Bridge"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IOI_NaturalFlag">
    <xs:complexType>
      <xs:attribute name="FIXTag" default="130">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="130"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataType" default="char">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SDValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
